/* html, body {
    height: 100%;
    width: 100%;
    margin: 0;
} */

.dashboard-container {
    height: 84%;
    width: 100%;
    display: flex;
    flex: auto;
}

.right-container {
    display: flex;
    flex: 3;
    flex-direction: column;
}