html, body {
    margin: 0;
}

.header-container {
    background-color: #EEEEEE;
    height: 16%;
    overflow: hidden;
    position: relative;
}

.image-background {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    opacity: 0.07;
    position: absolute;
}

.background-content {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}

.logo {
    height: auto;
    width: 7vw;
} 

.header-title {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    justify-content: center;
    margin-left: 4vw;
}

.header-title p {
    margin: 0;
}

.header-title p:nth-child(1) {
    font-size: 2vw;
    font-weight: bold;
}

.header-title p:nth-child(2) {
    color: #705E5E;
    font-size: 1.25vw;
}

.header-buttons {
    display: flex;
    align-items: center;
    height: auto;
    width: 53%;
    justify-content: flex-end;
    margin-right: 20px;
}