.survey-list-container {
    background-color: #73777F;
    display: flex;
    flex: 2;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.survey-list-container h2 {
    color: white;
    text-align: center;
}

.survey-item {
    background-color: #70EE9C;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.survey-add-button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}
