.user-stats-container {
    background-color: #73777F;
    color: white;
    display: flex;
    flex: 2;
    flex-direction: column;
    height: 50%;
}

.user-stats-container h2 {
    text-align: center;
}

.user-stats-subcontainer {
    display: flex;
    overflow: auto;
}

.user-stats-left-subcontainer {
    background-color: #D7FCD4;
    display: flex;
    flex: 2;
    flex-direction: column;
    margin: 10px;
    overflow: auto;
}

.user-stats-right-subcontainer {
    background-color: #B6CCA1;
    color: black;
    display: flex;
    flex: 1;
    margin: 10px;
}

.MuiListItemText-primary {
    color: black
}